.bg_tour_list_filter {
    background-color: #f6f5f8;
    border: none;
    border-radius: 7px;
    position: inherit;
    margin-bottom: 3rem;
}

.bg_tour_list_filter_star_group {
    display: flex;
    gap: 12px;
}

.bg_tour_list_filter_star {
    width: 18px;
    margin: 5px 2px;
}

.bg_tour_list_filter input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 5px 15px 5px 0;
}

.bg_tour_list_filter label {
    display: flex;
    align-items: center;
    color: #2a2146;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 35px;
    margin-bottom: 0.5rem;
}

.bg_tour_list_filter input[type=checkbox]+label {
    position: relative;
}

.bg_tour_list_filter input[type=checkbox]+label:before {
    content: "";
    position: absolute;
    width: 1.313rem;
    height: 1.313rem;
    left: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    vertical-align: bottom;
    margin-right: 20px;
}

.bg_tour_list_filter input[type=checkbox]:checked+label:after {
    content: "";
    background-image: url(../../assets/icons/svg/check.svg);
    position: absolute;
    left: 4px;
    width: 0.8rem;
    height: 0.8rem;
}

.bg_tour_list_filter input[type=checkbox]:checked+label:before {
    background-color: #034C43;
    border-color: #034C43;
}

.h5_bg_tour_list_filter {
    color: #2a2146;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1.5rem 0 2rem;
}