.product_name {
    max-width: 200px;
    overflow: hidden;
}

.product_name h6 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
}

.bg_cart_price_total p {
    color: #2A2146;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 500;
    margin-bottom: 0;
}

.bg_cart_price_total b {
    color: #034C43;
    font-size: 2.25rem;
    line-height: 1.375rem;
    font-weight: 700;
    margin-bottom: 0;
}

.bg_cart_price_total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.875rem 0 1.375rem;
}