.pagination_btn {
    border: 1px solid transparent !important;
    padding: 1px 8px;
    font-weight: 600;
    color: #000;
    border-radius: 3px;
    margin: 0px 5px !important;
    font-size: 16px;
}

.pagination_btn:hover:not(.active) {
    border: 1px solid #ccc;
    background-color: #eee;
}

.active {
    background-color: var(--primary);
    color: #fff;
    border: 1px solid transparent !important;
}