.bg_not_found img {
    max-width: 260px;
}

.bg_not_found h1 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 600;
    color: #FFFFFF;
}

.bg_not_found h2 {
    font-size: clamp(.875rem, 1.25vw, 1.25rem);
    font-weight: 400;
    color: #FFFFFF;
}

.bg_not_found a {
    font-size: clamp(.75rem, 1.09vw, 1.15rem);
    font-weight: 600;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    max-width: 200px;
    height: clamp(40px, 3vw, 48px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem; 
}

.bg_not_found a:hover {
    opacity: .75;
}

.bg_not_found {
    background-color: var(--primary);
}

@media (max-width: 375px) {
    .bg_not_found img {
        max-width: 100%;
    } 
}