.forget_password {
    padding: 1.25rem 2.5rem;
    max-width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.forget_password h1 {
    color: #666666;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.forget_password h2 {
    color: #666!important;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem!important;
}

.forget_password input {
    color: #212529;
    background-color: #fff;
    height: 3rem;
    border-radius: 0.3rem;
    padding: 0.75rem 1.25rem;
    margin-top: .5rem;
}

.forget_password input:focus {
    border-color: #b398ff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(103, 49, 255, .25);
    transition: none;
}

.forget_password input{
    width: 428px;
}

.forget_password button{
    height: 42px;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
}


@media (max-width: 535px){
    .forget_password input{
        width: 100%;
    }
}