.login_menu {
    margin: 0 20px;
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
    border-top: 1px solid rgba(0,0,0,.2);
}

.close_button {
    background: transparent;
    right: 0;
    top: 0;
    border: 0;
}

