
.area_label {
    color: var(--primary);
    font-style: bold;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    height: 42px;
    margin-bottom: 40px; 
  }

  .button{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    color: var(--primary);
    border: 1px solid var(--primary);   
    width: 206px;
    height: 48px;
    border-radius: 24px;    
}

.button:hover{
    background-color: var(--primary);
    color: #fff;
}